body {
    background: linear-gradient(to right top , rgb(192, 147, 234), rgb(69, 69, 241) , rgb(17, 37, 99))no-repeat;
    height: 97.6vh;

}
input {
    margin-left: 500px;
    margin-top: 200px;
    font-family: monospace;
    background: none;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 5px solid;
    border-radius: 20px; 
    border-color: white;
    color: white;
    font-size: 20px;
    opacity: .8;
    height: 30px;
    width: 300px;
    transition: .9s;
}
input:focus{
    border: none;
}
button {
    height: 35px;
    width: 90px;
    background: none;
    font-weight: bolder;
    font-size: 15px;
    border-color: white;
    color: white;
    border-radius: 20px; 
    font-family: monospace;
    opacity: .8;
}
button:hover {
    transform: rotate(30deg);
    transition: .9s;
}
p {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    font-family: sans-serif;
    text-align: center;
    transition: .9s;
}
p:hover {
    transform: rotate(20deg);
}